@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(211, 211, 211);
}

header {
    background-color: rgb(141, 141, 141);

}

header h1 {
    text-align: center;
    padding: 10px;
}
nav {
    display: none;
}

nav a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
    justify-content: center;
    border-top: 2px solid rgb(145, 145, 145);
    background-color: rgb(97, 97, 97);
    
}

nav a:hover {
    background-color: gray;
}

nav ul {
    list-style-type: none;
}

main {
    background-color: white;
    margin: 20px auto;
    width: 90vw;
    max-width: 1000px;
    padding: 10px;
    border-radius: 10px;
}

main h2 {
    margin: auto auto 20px auto;
}

main p {
    padding-bottom: 20px;
    text-indent: 10px;
    text-align: justify;
}

#burguer {
    background-color: rgb(34, 34, 34);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}




